# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# Environment
.env
.env.prod
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Logs
logs/
django-error.log

# Docker
.docker/